@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
}

button{
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #ddd;
    padding-top: 10vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

nav > p {
    font-size: 18pt;
    padding: 5px 25px;
}

ul{
    display: flex;
    list-style: none;
}

li{
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

main{
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1;
    column-gap: 50px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-prod{
    background-color: #fff;
    width: calc(20% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.card-prod > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.prod-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prod-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#valor{
    font-size: 1.5rem;
}

#valorTotal{
    font-size: 1.5rem;
}

.addCart{
    font-size: 1.5rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.filter{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: min-content;
}

.filter > span{
    padding: 10px;
    width: 100%;
}

.filter > span:first-child{
    font-size: 1.5rem;
}

.setor:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.modelo{
    display: none!important;
}

.setor-ativo{
    background-color: black;
    color: white;
}

.setor-ativo:hover{
    background-color: black;
    color: white;
}

.cart{
    font-size: 1.5rem;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.cartNum{
    font-size: .75rem;
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: black;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}

.escondido{
    display: none!important;
}

.cartList{
    position: absolute;
    right: 0;
    background-color: white;
    width: 500px;
    box-shadow: 0 0 5px black;
}

.cartList img {
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cartItem{
    padding: 10px;
    color: black;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr 1fr;
    gap: 5px;
}

.cartItem #nome{
    text-transform: uppercase;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inpQtde{
    width: 6ch;
    color: black;
    border: 1px solid rgb(206, 206, 206);
    text-align: center;
}

.removeItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cartTotal{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid rgb(206, 206, 206);
}

.cartConfirm{
    display: flex;
    padding: 10px;
    justify-content: end;
    width: 100%;
}

.cartConfirm > button{
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}