* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html, body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(218, 218, 218);
}

header {
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    width: 100vw;
    background-color: rgb(202, 98, 0);
    color: white;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

main {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-area {
    display: flex;
    flex-direction: column;
    font-size: 15pt;
    gap: 15px;
}

.form-area > span {
    font-size: 25pt;
}

input, select {
    width: 40ch;
    font-size: 12pt;
    padding: 5px;
}

label {
    width: 100px;
}

.form-control {
    display: flex;
    align-items: center;
}

.form-area > button {
    border: 2px solid rgb(202, 98, 0);
    color: rgb(202, 98, 0);
    background-color: transparent;
    font-size: 18pt;
    margin-top: 5px;
    transition: .2s;
    cursor: pointer;
}

.form-area > button:hover{
    background-color: rgb(202, 98, 0);
    color: white;
}

.control {
    margin-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 300px;
}

.control > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left {
    border-right: 2px solid rgb(146, 146, 146);
    padding: 10px;
}

.right {
    padding: 10px;
}

.card {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14pt;
    color: rgb(202, 98, 0);
}

span > span {
    font-weight: 500;
    color: black;
}

.card > button {
    border: 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    height: min-content;
}

.card > button:hover{
    background-color: rgb(194, 194, 194);
}

button > img {
    width: 100px;
}

.control > div > span {
    font-size: 14pt;
}